.search-box {
  &--loading {
    .search-box-input {
      background: url("images/fts-loader.gif") no-repeat 97% center #fff;
    }
  }
}
.search-results {
  &__autocomplete {
    position: relative;
    float: left;
    width: 100%;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
  }
}
.search-result {
  padding: 10px 10px 10px 100px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  width: 100%;
  &--no-results {
    font-style: italic;
    padding: 15px;
  }
  &__place-type {
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 85%;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 50px;
    top: 10px;
    transform: translateX(-50%);
    min-width: 80px;
    text-align: center;
    &--airport {
      background: #f2817f;
    }
    &--city {
      background: #6eb8fa;
    }
    &--train-station {
      background: #9d9dbb;
    }
    &--district,
    &--region {
      background: #70d58e;
    }
  }
  &__location {
    display: block;
    color: #444;
    font-size: 85%;
  }
  &:hover {
    background: #dff6ff;
    cursor: pointer;
  }
}

.main-search-form {
  @media (min-width: 1101px) {
    width: 90%;
    max-width: 520px;
  }
}
