.search-box--loading .search-box-input {
  background: url("images/fts-loader.gif") no-repeat 97% center #fff; }

.search-results__autocomplete {
  position: relative;
  float: left;
  width: 100%;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5); }

.search-result {
  padding: 10px 10px 10px 100px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  width: 100%; }
  .search-result--no-results {
    font-style: italic;
    padding: 15px; }
  .search-result__place-type {
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 85%;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 50px;
    top: 10px;
    transform: translateX(-50%);
    min-width: 80px;
    text-align: center; }
    .search-result__place-type--airport {
      background: #f2817f; }
    .search-result__place-type--city {
      background: #6eb8fa; }
    .search-result__place-type--train-station {
      background: #9d9dbb; }
    .search-result__place-type--district, .search-result__place-type--region {
      background: #70d58e; }
  .search-result__location {
    display: block;
    color: #444;
    font-size: 85%; }
  .search-result:hover {
    background: #dff6ff;
    cursor: pointer; }

@media (min-width: 1101px) {
  .main-search-form {
    width: 90%;
    max-width: 520px; } }
